.header {
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: blueviolet;
  color: white;
  font-size: xx-large;
  font-weight: 600;
}
.dog-section {
  display: grid;
  grid-template-columns: repeat(auto-fit);
  justify-content: center;
  padding: 10px;
}
.dog-img {
  height: 300px;
  width: 300px;
  object-fit: scale-down;
}
.dog-count-container {
  display: flex;
  justify-content: center;
}

.dog-count {
  font-size: large;
  font-weight: bold;
  color: blueviolet;
}

.fetch-dog-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fetch-dog-btn,
.open-org-dog-btn {
  background-color: blueviolet;
  color: white;
  min-width: 300px;
  margin-top: 5px;
  padding: 5px;
}
.gh-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: large;
}
@media screen and (max-height: 444px) {
  .dog-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .dog-img {
    height: 200px;
    width: 200px;
    object-fit: scale-down;
  }
  .dog-count-paragraph {
    margin: 0;
    padding: 0;
  }
}
